@import "~bootstrap/scss/bootstrap.scss";

body {
    background:black;
}

.wrapper{
    margin-top: 50px;
}


.todolist-cont {

    background: lightgray;
    width:600px;
    height:400px;
    border-radius: 30px;

}

.todo-text{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 80px;

}



.del{
    margin-left: 20px;
    font-size: 15px;
    vertical-align: middle;

}
.del:hover {
    color: red;
}

.the-list{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    list-style: none;

}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 50px;
    margin-left: 30px;
}